/* Header styles (you can customize this part) */
header {
    background-color: #333;
    color: #fff;
    border-top-left-radius:10px ;
    padding-top: 2px ;
    padding-bottom: 2px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    text-align: left;

}
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}
h1{
    font-size: 33px;
}



/* Footer styles (you can customize this part) */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
#name{
    margin-bottom: 10px;
   }
   #email{
    margin-bottom: 10px;
   }
   #password{
      margin-bottom: 10px;
   }
  #phone{
    margin-bottom: 10px;
  }
  #date{
    margin-bottom: 10px;
  }
   #user_register_form{
        display: flex;
        justify-content: space-around;
        margin:50px 0 50px  0;
   }
   #register_form
{
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    
}
   #Signin, #Signup{
    background-color: black;
    color: #f0f8ff;
    border: 1px solid rgb(14, 11, 11);
    border-radius: 20px;
    padding: 25px  75px;
    width: 40%;
   }
   #Signup{
    display: none;
   }

   input[type="submit"]{
    width: 100px;
    padding: 10px;
    margin: 25px auto;
   }
   input{
    padding: 10px;
    margin-top: 10px;
   }
   #Signup a, #Signin a{
    color: orange;
   }
   #Signup a:hover, #Signin a:hover{
    color: orangered;
   }