/* Reset default styles */
body, h2, table, th, td, button {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles for the whole page */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Header styles (you can customize this part) */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Admin Page Section styles */
.admin-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Center the content vertically */
}

.admin-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
}

/* Style the buttons on hover */
button:hover {
    background-color: #0056b3;
}

/* Footer styles (you can customize this part) */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}