body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles for the whole page */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and font styles for the whole page */
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Hero section styles */
.hero {
    background-image: url('images/w31.gif');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
/* Contact section styles */
.contact {
    padding: 40px 0;
    text-align: center;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 20px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: #ff5722;
    width: 99%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:#fff;
}
  .checkbox{
    display: grid; 
    grid-template-columns: 60px 60px;
    margin-left: 20px; /* Adjust margin as needed to separate checkbox-label pairs */
  }
  
 
/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsiveness (customize as needed) */
@media (max-width: 768px) {
    .hero {
        padding: 80px 0;
    }

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .package {
        width: 100%;
    }

    .testimonial {
        max-width: 90%;
    }
}




/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsiveness (customize as needed) */

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Hero section styles */
.hero {
    background-image: url('images/w31.gif');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
/* Contact section styles */
.contact {
    padding: 40px 0;
    text-align: center;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 20px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 95%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    background-color: #ff5722;
    width: 99%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color:#fff;
}
  .checkbox{
    display: grid; 
    grid-template-columns: 60px 60px;
    margin-left: 20px; /* Adjust margin as needed to separate checkbox-label pairs */
  }
  
 
/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsiveness (customize as needed) */
@media (max-width: 768px) {
    .hero {
        padding: 80px 0;
    }

    .hero h2 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .package {
        width: 100%;
    }

    .testimonial {
        max-width: 90%;
    }
}




/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media queries for responsiveness (customize as needed) */