<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../static/birthadydetails.css"> <!-- Include your CSS file here -->
</head>
<body>
    <!-- Header (optional, you can include a header if needed) -->
    <header>
        <nav>
            <div class="logo">
                <h1>CelebrateHub Admin</h1>
            </div>
        </nav>
    </header>

    <!-- Admin Page Section -->
    <section class="admin-page">
        <div class="admin-container">  
            <h2><p>Mariage<p></h2>
            <table>
                <thead>
                    <tr>
                        
                        <th>NAME</th>
                        <th>NAME</th>
                        <th>Email</th>
                        <th>phone</th>
                        <th>Event date</th>
                        <th>message</th>
                        <th>k</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Example user data, replace with actual data -->
                    {% for i in wed %}
                    <tr>
                        {% for col in i %}
                        <td>{{col}}</td>
                        {% endfor %}
                        
                        <form method="POST" action="/removew/{{ d[2] }}">
                        
                        <td>
                           
                            <button class="delete-button" name="email">Delete</button>
                        </td>
                    
                    </form>
                    <form method="POST" action="/updatew/{{ d[2] }}">
                        <td>
                           
                            <button class="delete-button" name="email">update</button>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Add more user data rows as needed -->
                </tbody>
            </table>
        
        </div>
    </section>


   
    
    <!-- Footer (optional, you can include a footer if needed) -->
    <footer>
        <p>&copy; 2023 Your Event Planners</p>
    </footer>
</body>
</html>