<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/name1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Planning Home Page</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <div class="logo">
                <h1>CelebrateHub</h1>
            </div>
           
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h2>Birthday Events</h2>
        </div>
        <section id="contact" class="contact">
            <form id="contact-form" action="" method="post">
                <input type="text" placeholder="Your Name" name="name" required>
                <input type="email" placeholder="Your Email" name="email" required>
                <input type="tel" placeholder="Your Phone" name="phone" required>
                <input type="pla" placeholder="Place" name="place"  required>
                <p style="color: black;margin-right: 0;">please mention event date</p>
                <br>
                <input type="date" placeholder="Enter date" name="event_date" required>
                
                
                <textarea placeholder="Your Message" name="message" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </section>    
    </section>
    <!-- Footer -->
    <footer>
        <p>&copy; 2023 Your Event Planners</p>
    </footer>
</body>
</html>